/********************** Tag Selector *************************/
body{
    margin: 0;
    font-family: 'Courier Prime', monospace;
    text-align: center;

    background-color: #20262E;
    color: #E9E8E8;
}
h1{
    margin: 0;
    font-family: 'Share Tech Mono', monospace;
}
h2{
    margin: 0;
    font-family: 'Source Code Pro', monospace;
}
h3{
    margin: 0;
    font-family: 'Source Code Pro', monospace;
}
hr{
    height: 3px;
    background-color: #E9E8E8;

    border-style: none;
}
/******************* Class selection *********************/
.top-container{
    /*height: 200px;
    background-color: aquamarine;
    width: 200px;
    position: relative;
    left: 200px;*/
    background: linear-gradient(#20262E, #CD5888 );
    /*position: relative;*/
}
.mid-container{
   /* height: 200px;
    background-color: red;
    padding: 20px;
    display: inline-block;
    width: 200px;*/
    background: linear-gradient( #CD5888,#20262E);
    
}
.bot-container{
   /* height: 200px;
    background-color: cornflowerblue;
    padding: 20px;
    display: inline-block;
    width: 200px;*/
    background-color: black;
    background: linear-gradient(#20262E,#CD5888);
    height: 500px;
    margin: 0;
    padding: 40px 0;
}
.mobible{
   /* height: 220px;
    background-color: blueviolet;
    width: 200px;
    position: absolute;
    left: 0;
    top:0;*/
}

.chuleta-top
{
    width: 180px;
    position: absolute;
    top: 50px;
    right: 250px;
}
.chuleta-bot
{
    width: 180px;
    position: absolute;
    bottom: -300px;
    left: 250px;
}
.empresa-mid
{
    display: block;
    margin: 0 auto;
    width: 1000px;
}
.name{
    margin: 0 auto;
    position: relative;
    top: 100px;
    font-size: 50px;
    color: #20262E;
    background-color: #f0f8ffbf;
    display: inline-block;
    padding: 5px 20px;
    border-radius: 40px;
}
.sub{
    margin: 0 auto;
    position: relative;
    top: 125px;
    font-size: 25px;
    color: #b3c2d4;
}
.skill-row{
    display: inline-block;
    margin: 70px,100px;
   
}
.skill1-img{
    width: 100px;
}
.skill2-img{
    width: 100px;
}
.skill3-img{
    width: 100px;
}


.software-row{
    width: 60%;
    margin: 50px auto;
}

.software-row:nth-child(even){
    text-align: left;
}
 .software-row:nth-child(odd){
    text-align: right;
 }
 .software-row:nth-child(1){
    text-align: center;
}

.software1-img{
    width: 100px;
    background-color: white;
    border-radius: 100%;
    margin-top: 10px;
    float: left;
}
.software2-img{
    width: 100px;
    background-color: white;
    border-radius: 100%;
    float: right;
    margin-top: 20px;
}
.footer-hr{
margin: 0;
}
.contact-me{

}
.get-in-touch{
    color: #ffffff;
}
.copyright{
    margin:20px 0 0;
}
.together{
    font-family: 'Courier Prime',monospace;
    margin: 10px 0 20px;
}
.together:hover{
    font-family: cursive;
}
/******************** ID Slectionn **********************/
.btn {
    font-family: 'Courier Prime',sans-serif;
    background: #c034d9;
    border-radius: 28px;
    font-family: Georgia;
    color: #ffffff;
    font-size: 15px;
    padding: 10px 20px ;
    text-decoration: none;
   display: inline-block;
   margin: 10px 0 20px;
  }
  
  .btn:hover {
    background: #3cb0fd;
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
    
  }
.footer-link{
    text-decoration: none;/*Quita el subrrayado del link*/
    color:#c034d9;
    margin: 5px 10px 20px;
}


